body{
    
    background: burlywood;
}

.center{

    widows: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate (-50%, -50%);
    padding:20px;
    background: blue;
    box-sizing: border-box; 
    box-shadow: 0 20px 50px rgba(0,0,0, 0.5);
}

h1{
    margin:0;
    padding:0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.skillsBox{
    box-sizing: border-box; 
    width:100%;
    margin: 20px 0;
}

.skillsBox p{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}

.skillsBox p:nth-child(2) {

    float:right;
    position: relative;
    top: -25px;
}

.skill{
    background: #262626;
    padding:4px; 
    box-sizing: border-box;
    border: 1px solid palevioletred;
    border-radius: 2px;
}

.skill-level{
    background: #4988a5;
    width:100%;
    height: 10px;
}